* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Baloo 2", sans-serif;
	background-color: #0E1F33;
}


/*end of navbar*/
#nav-bar {
	background-color: #122948;
}

.navbar-brand {
	color: #CEA434;
	font-weight: bold;
}

.nav-link {
	color: #CEA434;
	border: 2px solid transparent;
}

.nav-link:hover {
	text-decoration: none;
	border-bottom: 2px solid #CEA434;
	transition: 1s ease;
	
}

.navbar-toggler-icon {
	color: #CEA434;
	font-weight: bold;
}

#landing {
	background-color: #0E1F33;
	min-height: 50vh;
}

.line-even {
	color: #CEA434;
	font-weight: bold;
	font-size: 3rem;
}

.line-odd {
	font-size: 2rem;
	
}
/*end of navbar*/

/*start of about me*/
#about-me {
	background-color: rgba(81, 64, 20, 0.25);
	min-height: 50vh;
	max-height: 250vh;
}

.about-me {
	font-size: 2rem;
	color: #CEA434;
	font-weight: bold;
	background-color: #122948;
	margin: 0;
}

.carousel-item {
	max-height: 600px;
	width: auto;
}

.name {
	font-weight: bold;
	color: #122948;
}

.highlight {
	font-weight: bold;
	color: #122948;
}

.info {
	background-color: rgba(10, 19, 33, 0.25);
	font-size: 1.2rem;
}

.basic-info {
	list-style-type: none;

}

.p-1 {
	background-color: rgba(10, 19, 33, 0.25);
}

.c-image {
	max-height: 150vh;
	width: auto;
}
/*end of about me*/

/*start of gellery*/

#gallery {
	background-color: #193153;
}

#preview {
	background-color: #CEA434;
	color: #193153;
	border: 1px solid #193153;
}

.card-body {
	border-bottom: 5px solid #CEA434;
	background-color: #F1F1F3;
}

/*end of gellery*/

/*start of contacts*/
#contact {
	background-color: #122948;
	padding: 1rem;
	color: #CEA434;
}

.projects {
	color: #CEA434;
	font-weight: bold;
	background-color: #193153;
	margin: 0px;
}

.contacts {
	color: #CEA434;
	font-weight: bold;
}

.media-link {
	color: #CEA434;
	border: 2px solid transparent;
	font-size: 1.5rem;
	padding: 0;
}


.logo {
	height: 50px;
	width: auto;
}
/*end of contacts*/

/*start of forms*/
#forms {
	background-color: #122948;
	color: #0E1F33;
	font-weight: bold;
	font-size: 1.5rem;
}

#forms-header {
	background-color: #0E1F33;

}
/*end of forms*/
